<div ng-include="'/templates/nike/views/navigation/main-menu.html'"></div>
<div class="conent-body container-fluid">
	

	<div class="row">
	<div class="container">
	  <div class="slider" style="height: 400px; overflow: hidden;">
	    <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
	      <uib-slide ng-repeat="slide in slides" active="slide.active">
	        <img ng-src="{{slide.image}}" style="margin:auto;">
	        <div class="carousel-caption">
	          <h4>Slide {{$index}}</h4>
	          <p>{{slide.text}}</p>
	        </div>
	      </uib-slide>
	    </uib-carousel>
	  </div>
	</div>
	</div>



Nike Template



</div>
<div ng-include="'/templates/nike/views/footer/footer.html'"></div>